!!!
%html
  %head
    %title Befriendrix!
  %body
    %header
      %h1 Befriendrix
      %h2 Make all your FB test users be friends!
    = yield
    
    %footer
      %p Graphic Design By Daniel Leavitt
      %p 
        Docs
        %a(href="http://developers.facebook.com/docs/test_users/") here
      